@font-face {
	font-family:'SF Pro SC';
	font-style:normal;
	font-weight:300;
	src:url("font/SF-Pro-SC/PingFangSC-Thin.woff2") format("woff2"),
		url("font/SF-Pro-SC/PingFangSC-Thin.ttf") format("truetype");
}