/*@font-face {
	font-family:'HanHei SC';
	font-style:normal;
	font-weight:300;
	src:url("../font/HanHei-SC/HanHei-SC-thin.woff") format("woff"),
		url("../font/HanHei-SC/HanHei-SC-thin.ttf") format("truetype");
}*/
/*@font-face {
	font-family:'HanHei SC 300';
	src:url("../font/HanHei-SC/HanHei-SC-thin.eot");
}
@font-face {
	font-family:'HanHei SC';
	font-style:normal;
	font-weight:600;
	src:url("../font/HanHei-SC/HanHei-SC-semibold.woff") format("woff"),
		url("../font/HanHei-SC/HanHei-SC-semibold.ttf") format("truetype");
}
@font-face {
	font-family:'HanHei SC 600';
	src:url("../font/HanHei-SC/HanHei-SC-semibold.eot");
}
@font-face {
	font-family:'HanHei SC';
	font-style:normal;
	font-weight:400;
	src:url("../font/HanHei-SC/HanHei-SC-text.eot");
	src:url("../font/HanHei-SC/HanHei-SC-text.woff") format("woff"),
		url("../font/HanHei-SC/HanHei-SC-text.ttf") format("truetype");
}*/