
@media screen and (max-width: 319px){
    .logo{
		width: 60px;
		height: 60px;
	}
	.section1_title{
		font-size: 2.4rem;
		margin-top: 10%;
	}
	.section1_description{
		font-size: 1.6rem;
		margin-top: 2rem;
	}
	.section1_download button{
		font-size: 1.6rem;
		margin-top: 30%;
	}
	.footer{
		height: 40px;
	}
	.footer p{
		line-height: 15px;
		/*padding-top: 5px;*/
		font-size: 1.2rem;
	}
	.popup{
		width: 300px;
		margin-left: -150px;
	}
	.anchor2{
		font-size: 2.4rem;
		margin-left: 0;
		padding-top: 2rem;
	}
	.anchor3{
		font-size: 1.6rem;
		margin-left: 0;
	}
	.anchor5{
		font-size: 2.4rem;
		margin-left: 0;
		padding-top: 5rem;
	}
	.anchor6{
		font-size: 1.6rem;
		margin-left: 0;
	}
	.anchor7{
		font-size: 2.4rem;
	}
	.section4_title{padding-top: 60%;}
	
}
@media screen and (min-width: 320px) and (max-width: 375px){
    .logo{
		width: 60px;
		height: 60px;
	}
	.section1_title{
		font-size: 2.4rem;
		margin-top: 10%;
	}
	.section1_description{
		font-size: 1.6rem;
		margin-top: 2rem;
	}
	.section1_download button{
		font-size: 1.6rem;
		margin-top: 45%;
	}
	.footer{
		height: 40px;
	}
	.footer p{
		line-height: 15px;
		/*padding-top: 5px;*/
		font-size: 1.2rem;
	}
	.popup{
		width: 310px;
		margin-left: -155px;
	}
	.anchor2{
		font-size: 2.4rem;
		margin-left: 0;
		padding-top: 5rem;
	}
	.anchor3{
		font-size: 1.6rem;
		margin-left: 0;
	}
	.anchor5{
		font-size: 2.4rem;
		margin-left: 0;
		padding-top: 6rem;
	}
	.anchor6{
		font-size: 1.6rem;
		margin-left: 0;
	}
	.anchor7{
		font-size: 2.4rem;
	}
	.section4_title{padding-top: 60%;}
	.section1_cnt{top: 60%;}
}
@media screen and (min-width: 376px) and (max-width: 425px){
    .logo{
		width: 70px;
		height: 70px;
	}
	.section1_title{
		font-size: 2.8rem;
		margin-top: 10%;
	}
	.section1_description{
		font-size: 2rem;
		margin-top: 2rem;
	}
	.section1_download button{
		font-size: 1.8rem;
		margin-top: 42%;
	}
	.footer{
		height: 50px;
	}
	.footer p{
		line-height: 15px;
		/*padding-top: 10px;*/
		font-size: 1.2rem;
	}
	.popup{
		width: 340px;
		margin-left: -170px;
	}
	.anchor2{
		font-size: 2.8rem;
		margin-left: 0;
		padding-top: 6rem;
	}
	.anchor3{
		font-size: 2rem;
		margin-left: 0;
	}
	.anchor5{
		font-size: 2.8rem;
		margin-left: 0;
		padding-top: 8rem;
	}
	.anchor6{
		font-size: 2rem;
		margin-left: 0;
	}
	.anchor7{
		font-size: 2.8rem;
	}
	.section4_title{padding-top: 60%;}
}
@media screen and (min-width: 426px) and (max-width: 768px){
    .logo{
		width: 70px;
		height: 70px;
	}
	.section1_title{
		font-size: 4rem;
		margin-top: 10%;
	}
	.section1_description{
		font-size: 2rem;
		margin-top: 2rem;
	}
	.section1_download button{
		font-size: 1.8rem;
		margin-top: 35%;
	}
	.footer{
		height: 50px;
	}
	.footer p{
		line-height: 15px;
		/*padding-top: 10px;*/
		font-size: 1.2rem;
	}
	.anchor2{
		font-size: 4rem;
		margin-left: 0;
		padding-top: 8rem;
	}
	.anchor3{
		font-size: 2rem;
		margin-left: 0;
	}
	.anchor5{
		font-size: 4rem;
		margin-left: 0;
		padding-top: 8rem;
	}
	.anchor6{
		font-size: 2rem;
		margin-left: 0;
	}
	.anchor7{
		font-size: 4rem;
	}
}
@media screen and (min-width: 769px) and (max-width: 1024px){
    .logo{
		width: 80px;
		height: 80px;
	}
	.section1_title{
		font-size: 4.8rem;
	}
	.section1_description{
		margin-top: 2rem;
	}
	.section1_download button{
		font-size: 1.6rem;
		margin-top: 6%;
	}
	.footer{
		height: 50px;
	}
	.footer p{
		line-height: 15px;
		/*padding-top: 10px;*/
		font-size: 1.2rem;
	}
	.anchor2{
		font-size: 4.8rem;
		margin-left: 5%;
		padding-top: 5rem;
	}
	.anchor3{
		font-size: 2rem;
		margin-left: 5%;
	}
	.anchor5{
		font-size: 4.8rem;
		margin-left: 30%;
		padding-top: 6rem;
	}
	.anchor6{
		font-size: 2rem;
		margin-left: 30%;
	}
	.anchor7{
		font-size: 4.8rem;
	}
}

@media screen and (min-width: 1024px) {
	.anchor6{width: 700px;}
	.anchor3{width: 700px;}
}
