.main{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.section{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 568px;
}
.section1{
	/*background-image: url(../img/bg.jpg);*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.section1_cnt{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	text-align: center;
}
.logo{
	display: block;
	width: 90px;
	height: 90px;
	margin: 0 auto;
}
.section1_title{
	line-height: 1.2;
	font-size: 5.0rem;
	color: #fff;
	margin-top: 3rem;
	font-weight: 800;
}
.section1_description{
	line-height: 1.6;
	margin-top: 2.4rem;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 300;
}
.section1_download button{
	width: 220px;
	height: 38px;
	line-height: 39px;
	color: #fff;
	font-size: 1.8rem;
	background-color: #e9191a;
	border: none;
	border-radius: 19px;
	outline: none;
	font-weight: 300;
	margin-top: 10%;
}
.section1_download p{
	line-height: 3;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 300;
}
.popup_box{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.popup_layer{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .7;
	z-index: 1;
}
.popup{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 400px;
	height: 260px;
	margin-left: -200px;
	margin-top: -130px;
	padding-top: 58px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	z-index: 2;
}
.popup p{
	line-height: 30px;
	font-size: 2rem;
}
.popup button{
	width: 220px;
	height: 38px;
	line-height: 39px;
	font-size: 1.8rem;
	margin-top: 40px;
	color: #fff;
	background-color: #e9191a;
	border: none;
	border-radius: 50px;
	outline: none;
	font-weight: 300;
}
.section2{
	
}
.section2_title{
	line-height: 1.2;
	font-size: 5.0rem;
	color: #111;
	padding: 3rem 0rem 0rem 3rem;
	font-weight: 800;
}
.section2_description{
	line-height: 1.6;
	margin-top: 3.2rem;
	padding: 0 3rem;
	color: #111;
	font-size: 1.8rem;
}
.section2_img{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.section2_img img{
	display: block;
	width: 100%;
	height: 100%;
}
.section3{
	
}
.section4{
	height: 92%;
	min-height: 92%;
}
.section4_title{
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin-top: -37px;
	color: #fff;
	font-size: 5.0rem;
	font-weight: 800;
	text-align: center;
}
.opacity_0{
	opacity: 0;
	
}
/*文字位置*/
.anchor2{
	margin-left: 15%;
	padding-top: 6%;
}
.anchor3{
	margin-left: 15%;
}
.anchor5{
	margin-left: 40%;
	padding-top: 6%;
}
.anchor6{
	margin-left: 40%;
}
.anchor1{
	background-image: url(../img/bg4.jpg);
    background-position: 80% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.anchor4{
	background: url(../img/bg2.jpg);
    background-position:80% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.anchor8{
    background: url(../img/bg3.jpg);
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
/*footer*/
.footer{
	width: 100%;
	height: 8%;
	min-height: 70px;
	background-color: #000;
}
.footer p{
	height: 100%;
	line-height: 20px;
	padding-top: 20px;
	color: #999;
	font-size: 1.4rem;
}
/*动画1*/
.animation1{
	animation: copyInfo 1.0s 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
/*动画2*/
.animation2{
	animation: copyInfo 1.0s 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
/*动画3*/
.animation3{
	animation: copyInfo 1.0s 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
/*动画3*/
.animation4{
	animation: copyInfo 1.0s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
/*动画步骤*/
@-webkit-keyframes copyInfo {
  from {
    opacity: 0;
    -webkit-transform: translateY(45px) translateZ(0);
    transform: translateY(45px) translateZ(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }
}
@keyframes copyInfo {
  from {
    opacity: 0;
    -webkit-transform: translateY(45px) translateZ(0);
    transform: translateY(45px) translateZ(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0);
  }
}